<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-scalingo-index") %>>
          <a href="/docs/providers/scalingo/index.html">Scalingo Provider</a>
        </li>

        <li<%= sidebar_current("docs-scalingo-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
          </ul>
        </li>

        <li<%= sidebar_current("docs-scalingo-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-scalingo-resource-addon") %>>
              <a href="/docs/providers/scalingo/r/addon.html">scalingo_addon</a>
            </li>
            <li<%= sidebar_current("docs-scalingo-resource-app") %>>
              <a href="/docs/providers/scalingo/r/app.html">scalingo_app</a>
            </li>
            <li<%= sidebar_current("docs-scalingo-resource-domain") %>>
              <a href="/docs/providers/scalingo/r/domain.html">scalingo_domain</a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
